.btn{
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    margin: auto;
    font-family: 'Calculator', sans-serif;
    font-size: 1.2em;  
}

#DEL{
    width: 7.6em;
    border-radius: 2em;
}

#EQUALS{
    width: 5.7em;
    border-radius: 2em;
    transform: rotate(90deg);
    margin-top: -2em;
    margin-left: -1.5em;

    p{
        transform: rotate(90deg);
        margin: auto;
    }
}